.pageContent {
    background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
    background-repeat: no-repeat;
    height: 100vh;
}

.loginTop {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.loginTopInner{
    display: flex;
    align-items: center;
}

.logoImg{
    display: inline;
    height: 44px;
}
.title{
    color: #1890ff;
    display: inline;
}

.desc{

}
.childrenForm {
    margin-top: 50px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
